.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header,
.App-login,
.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
}

.App-login {
  flex-grow: 3;
  background-color: white;
}

.form-container {
  width: 500px;
}

h1 {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.form-buttom-text, .form-buttom-text a {
  font-size: 1.25rem;
  font-weight: 300;
  color: #212529;
}
.form-buttom-text a {
  color: #007bff;
}

label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #474747;
  margin-bottom: 0.5rem;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #00adbb;
  border-radius: 5px;
  padding: 10px;
  color: rgba(0, 0, 0, 60%);
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

.select-input {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 60%);
}

.error {
  box-sizing: "border-box";
  background-color: "#f8d7da";
  padding: "10px";
  border-radius: "5px";
}

.btnLogin {
  width: 100%;
  padding: 0.5rem;
  border-radius: 30px;
  border: 2px solid #00adbb;
  background: white;
  color: #474747;
  outline: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin-bottom: 0.5rem;
}
.btnLogin:hover {
  background: #00adbb;
  color: #fff;
  outline: none;
}

a {
  color: #474747;
  font-size: 1rem;
  font-weight: 300;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #00adbb;
}

.forgotPassword {
  text-align: center;
}
